<div class="container">
  <div class="navbar">
    Homero Simpson Soundboard
  </div>
  <div class="content">
    <div *ngFor="let item of resultados; let i = index" class="card">
      <div class="card-title">
        {{item.title}}
      </div>
      <img [src]="item.image" alt="">
      <div (click)="playSound(item.audio, i)" class="button-sound">
        <i *ngIf="!item.isPlaying" class="fas fa-volume-off"></i>
        <i *ngIf="item.isPlaying" class="fas fa-volume-up"></i>
      </div>
    </div>
  </div>
</div>